@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --black: #141414;
    --dark-grey: #1F1F1F;
    --grey: #333333;
    --white: #ffffff;
    --neon-green: #C4F82A;
    --darker-neon-green: #aad42c;
}

html {
    background-color: var(--black);
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--dark-grey);
    height: max-content;
    width: calc(90% - 80px);
    max-width: 305px;
    border-radius: 12px;
    padding: 40px;
    padding-bottom: 0px;
    margin: 24px;
}

.image {
    height: 88px;
    width: 88px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.name {
    color: var(--white);
    text-align: center;
    margin: 24px 0 10px 0;
}

.location {
    color: var(--neon-green);
    text-align: center;
    margin: 0 0 24px 0;
}

.quote {
    color: var(--white);
    text-align: center;
    margin: 0 0 24px 0;
}

.link-list {
    width: 100%;
}

.link {
    display: block;
    color: var(--white);
    background-color: var(--grey);
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

@media (pointer: fine) {
    .link:hover {
        background-color: var(--neon-green);
        color: var(--grey);
    }
}

@media (pointer: coarse) {
    .link:active {
        background-color: var(--neon-green);
        color: var(--grey);
    }
}

.link:last-child {
    margin-bottom: 0;
}

.text {
    font-family: "Inter", sans-serif;
}

.text-heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

.text-bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
}

.text-regular {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.attribution {
    color: var(--white);
    font-size: 10px;
    text-align: center;
    padding: 20px 0;
}

.attribution a:link {
    color: var(--neon-green);
}

.attribution a:visited {
    color: var(--darker-neon-green);
}

.attribution a:active {
    text-decoration: line-through;
}